streamlit
pandas
numpy
PyPDF2
openpyxl
requests

openai
google-generativeai
google-genai
anthropic

# Embeddings / retrieval
sentence-transformers>=2.2.2,<3.0.0
torch>=2.0.0
transformers>=4.35.0

matplotlib

# Vector DB + RAGAS
chromadb>=0.4.22
ragas>=0.1.8
instructor
litellm
datasets
scikit-learn
pyarrow==20.0.0

pycryptodome

plotly
umap-learn
